html{
	box-sizing: border-box;
}
body{

}
header{
	text-align: center;
	background-color:white;
	padding-top: 70px;
	padding-bottom:70px;
}

header span{
text-align: center;
padding-top:15px;

}
header i{
	color: green;
}
header h1{
	color: green;
	padding-bottom: 1px;
	margin-bottom: -25px;

}
h6{
	color:white;
}
header ul{
	    -webkit-margin-after: 0em;
}
header ul li{
	list-style:none;
	display:inline-block;
	padding-right:1em;
	color:white;
}
.welcome{
	background-color: #6c2a6a;
    padding-top: 100px;
    padding-bottom: 100px;
	color:white;
	font-weight: 100;
}
.welcome a{
	color:white;
}
section .mast{
	text-align: center;
	width:945px;
	margin:0 auto;
}
.mast h1{
	color: white;

}
.main{
	text-align: center;
	background-color: white;
	padding-top: 100px;

}
.main div{
	width: 20%;
	text-align: center;
	background-color: white;
	padding:70px 32px;
	margin: 0 auto;
	float:left;
}
footer{
	text-align: center;
	background-color: black;
	clear: both;
}
footer h1{
	display: block;
	color: white;
}
footer h6{
	color:grey;
}